<%= turbo_frame_tag :users do %>
  <%= link_to 'Create New User', new_user_path %>

  <table class="users table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Created At</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="user">
          <td><%= link_to user.email, user_path(user) %></td>
          <td><%= user.created_at.strftime('%Y-%m-%d %H:%M:%S UTC') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
