<div class="container">
  <%= render partial: 'shared/summary', locals: { report_url: report_url } %>

  <div class="container">
    <table class="report-view">
      <thead>
        <% @output.columns.each do |column| %>
          <th class="font-mono px-3 py-3 border"><%= column %></th>
        <% end %>
      </thead>

      <tbody>
        <% @output.rows.each do |row| %>
          <tr>
            <% row.each do |value| %>
              <td class="font-mono border px-3 py-3"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
