<div class="container">
  <%= render partial: 'shared/summary', locals: { report_url:, max_rows:, max_columns: } %>

  <div class="container">
    <table class="report-view">
      <thead>
        <% (max_columns.nil? ? @output.columns : @output.columns.first(max_columns)).each do |column| %>
          <th class="font-mono px-3 py-3 border"><%= column %></th>
        <% end %>
      </thead>

      <tbody>
        <% (max_rows.nil? ? @output.rows : @output.rows.first(max_rows)).each do |row| %>
          <tr>
            <% row.each do |value| %>
              <td class="font-mono text-xs border px-3 py-3"><%= value %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
