<div class="summary container pb-3">
  <%= link_to @report.name, report_url, class: 'font-medium leading-tight text-purple-500 text-5xl mt-0 mb-2' %>
  <p class="text-gray-200 italic">Generated <%= format_datetime(@generated_at || Time.now.utc) %></p>

  <% if @output.present? %>
    <p class="text-gray-200 italic"><%= pluralize(@output.rows.size, 'row') %></p>
  <% end %>

  <% if max_columns.present? || max_rows.present? %>
  <p class="text-gray-200 italic">
    Preview (limited to <%=
      [
        max_rows.presence && pluralize(max_rows, 'row'),
        max_columns.presence && pluralize(max_columns, 'column')
      ].join(', ')
    %>):
  </p>
  <% end %>
</div>
