<%= turbo_frame_tag :reports do %>
  <div class="container">
    <div class="container">
      <%= h1('Reports') %>
    </div>

    <div class="container">
      <% if current_reports.blank? %>
        <p>You have not created any reports yet. Click "New Report" to get started.</p>
      <% else %>
        <table class="reports table-auto">
          <thead>
            <tr>
              <th class="px-4 py-2">Name</th>
              <th class="px-4 py-2">Schedule</th>
              <th class="px-4 py-2">Last Updated</th>
              <th class="px-4 py-2">Last Emailed</th>
              <% if current_user.admin? %>
                <th class="px-4 py-2">Created By</th>
              <% end %>
            </tr>
          </thead>

          <tbody>
            <%= render partial: 'reports/report', collection: current_reports, locals: { format: :list } %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
