<table class="reports table-auto">
  <thead>
    <tr>
      <th class="px-4 py-2">Name</th>
      <th class="px-4 py-2">Created</th>
      <th class="px-4 py-2">Last Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr class="report">
        <td class="px-4 py-2"><%= link_to report.name, report_path(report), class: 'text-purple-300' %></td>
        <td class="px-4 py-2"><%= report.created_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td class="px-4 py-2"><%= report.updated_at.strftime('%Y-%m-%d %H:%M') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
