<div class="container">
  <div class="container">
    <h1 class="font-medium leading-tight text-4xl mt-0 mb-2">New Report</h1>
  </div>
  <div class="container">
    <%= render partial: 'reports/form' %>
  </div>
</div>
