<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .summary {
        font-family: Verdana, sans-serif;
      }

      .font-mono {
        font-family: monospace;
      }

      td.border, th.border {
        border: 1px solid #555; padding: 0.5rem;
      }

      .wrapper {
        background-color: #0F172A;
        padding: 1rem;
        padding-bottom: 4rem;
      }

      .content {
        margin: 1rem;
        background-color: #ffffff;
        font-family: Arial, sans-serif;
      }

      .error-content {
        padding: 0.5rem;
      }

      .title-wrapper {
        vertical-align: middle;
      }

      .logo {
        vertical-align: text-bottom;
      }

      .title {
        color: #fff;
        font-size: 1.5rem;
        font-family: Arial, sans-serif;
      }

      .header {
        background-color: #A855F7;
        padding: 1rem;
      }

      .summary {
        padding: 0;
        background-color: #0F172A;
        color: #CBD5DC;
        font-family: Arial;
        margin: 0;
        padding-bottom: 1rem;
      }

      .summary a:visited {
        color: #796ff3;
      }

      .summary a {
        color: #796ff3;
        text-decoration: none;
        font-size: 1.5rem;
      }

    </style>
  </head>

  <body>
    <div class="header">

      <div class="title-wrapper">

        <img class="logo" src="data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAM5XpUWHRSYXcgcHJvZmlsZSB0eXBlIGV4aWYAAHjarVppcvOwjvzPU8wRRJAAyeNwrZobvONPA5Qdr/liz4srlmLRFIilu0HFzf/873L/gx/2XlzklKWIHPiJJRaqOMnH/qn27o9o7/uPyzV//7m7XiB8FHAM+88s5/jL5/46wT5UnPHNRLmfF9r9hRLP+fPDRLQPQS3S83FOVM6JAu0L/pyg7mUdUnK6XUKb+3h+f7sBv07fYr43++nvBO8Nxn0C0Qw+HHgP4TQg6C+5UHEiePdBMNAHtnOyzy9LgkNe+en6U2DRUlPjy0F3Ubme+defu8doRTqHhAcny/X48nPn+eFCuN6Hbu8c83lG95/X4Wlb9OB9/V1r5GVrxipqFLhazkVdlmJnGNdwC711djBNjoRfxhTJXgWvjKzuSIVx9KPh1X3xhHAtH/3w1S8/7dh9h4mRpqOEE6JOwT7MIVGhHjR+UV9+UQoljJARyW5hj4Gutni7bTm6s7tl3Hl4DCWPyTT4H7/cp19YS0vB+yNffQW7iNTZMEMjp+8Yhoj4dTqVzcGX1+OPxjUggqxe1hIpcGzbUzT2P0gQLNABAxnHXYM+jXMCuAi3ZhjjAyKAqKEqvPgjESXv4ciMAFWYTiFSQwQ8Mw0YSTGgihJl0lvjK8nbUGLCxw6fA8wQCUbFJcSmhIpgxcjInxQzcqhy4MjMwokzF64SJAqLSBIFxZpCii5xkpRSTiXVHHLMnCWnnHPJtVAJAE0uUlLJpZRacc+KmSu+XTGg1kYttNjYNWmp5VZa7UifHjt36annXnodNMIAfgwZaeRRRp1+IpVmnDxlpplnmXUh1VZwKy5estLKq6x6jdoZ1qfXB1HzZ9TIIqUD0zVq+DSlyxRe4YQ1ZggYuegR8aQhQEKTxuzIPkbSyGnMjkKoCiYYyRqz4TViiGCcnnj5S+wc7Yhq5P5fcXMp3sWNvo2c09B9GLnnuL2K2lAa6haxXYXq1COg+nB95kq5KtnVtmrk3DmtJMPH6vr0kbysEnOficLqAgPX9L61sFaZ+j5WxAWqJXIbuSHeMNF3xJhHXLhJB4zAQXoaxj62mWEdez0/8hgFebEY73MBF3HXNUrzqyGsZUzfdBwAtTsM4Z5tKp0eNNj8IBqzkwTqcVERai1NAYZmjJQlWBfX7hGAKuOIA74+nC6a4PzDToD8Hx8ntx6LU1vgU7NptnKsKdI0pkCeqi5ZvRNSZzIgOcnqYJXgS5hjLg6ExBISKc0xks43qCSGU0+nwHnmFkx9OibB1W+8KTz7KNmZ2+78/+4LhISBMUjtUTv7EAqjoJo6LxRz9lHjPIZUAr0VHiXa6pHTB1VQ5Syop7SOAq8j3SnLaAtsVfo8EjIZ8amzutSD3ZeOWcKacM+akaCOKnxA8ygwEF5AWUbuag1KgeBdjtUzsq9Y9o3mRm0isKClWAcij2qPtedtlIQ/B899HO2OrF4xozZXa3xZbgTTnuuNS9crHYVTasulIjlLwdeWqJPAM7kARjKcp05SUICT9EusTnI1IZvWgotUgLSa4SJpyNmuS5w9hT4oTixW3XcMi2wGjqwFF6dVNCNrq+7NxRRXQqmsnId5Cz4M9aCf6n88uncXPj3uiXpanpC9sCqYVWEh3mZyeXflqKUVVECa9EseqZOwyJfXcgWc8uOq3X9hVXb850T3q1bUeL1u93jxbumGVUfv0KaX2IKi1FfAA1DMrNJyaqjc4uREwgoOqnPgsu/4wCBav4pjBBGtFXqFjG3TMCIPaVpMDVyYAZEsTgBEkX1kwCZkrJ5pZ/Px0f0+gHtLWSMWgdhgk0QeiDk2NRTiCQ8tkOqabukwEDKB1Co3LA0wARSRQxGfD1B7x8J87eBtlF/ukvRYPFeLB3gUsLPcX4HrX7jlDLjA/QbK5tQh5lSjg01wQHJbA+saFiI8jblg02ohCqirEpoarKqx3vrAsphUHyB+E+h3aPzSAI1Xdc+YhJApG5ptoMO00AdAB3TASChNgdrvdFMHGreScWsBhQSjkFiUCZACyVIAbKAzR+WQ4UteoKPiZz4TYCZIMIvY8enRO7jiK0u8WtLXHOBFSK7gahvGpkIZkymbptT7oWzqJ+ZErQAKrELO+tCS+qkQBKBVeN7VYzSVbDQu+uMxQPFtRK0oaIGFeDpEDpRtPA/aimQ8T4TcNJ6fKirB8wPBfUC5+2J3kKGQ7kjfP0H8e4R3f4d4kbB23flhdYdk7eZ7Hp3d2kLwAF+xJGjoBmdDuuiSrAjDaxkI7dEZYyFyMFKmgy7V6lMbX34BfkWwZjeRk6odF5o2Cw2WKqIqjqEhAfPmGI3D/sYej7/3+Bre3QKTBIgXM8V9awtmaIeaclqi+ui34dd7IPnnPr4y6D1lv1mOCq+B6EBSILMJeVzV471Hp+FRmQhJkVucs7ccfWdoSZNNWdP/VEvohh+g+CYh3GNGxHe5kjkOqDNobPTW0oGrVqaZq9ZJdQpjWpUbxqBAAWPNa9cTJxTcUdTMDOjqydAPxQolCsnjMyn6ZUO/MNwa84S/n3bgsRtA8afEtYyAJqS2drxQ+e5Luf90vExkQt/WHDsRFDQTKker5dhCHxB2QtMGAJSGUTfKv9RS0PhBwoQgaEwwF6fB2hsA/a5ABxraQJeDAV0GPkK1A6BCAd6PAX8r027/W9Mx4H/V0PAjVL11cOb+NmaOYJ6D4mgNlPuqNt3fCqJqGjerCNGmIAApMUi7DAbYx9lcj1l8RLMau/hmUr/04iFkGnTFjMW3ANkhiLkKgas4QURNnmivgorI7pUg2HogtlHJQ0bnorSqnhHO72jJ/Zu37gx5UElqxbbB3RnBylYeb5ATyhASxCqh8xroZpTP46WX9rubQUKjmSmofgg2pthXmF8CXFNC6q6nC8bVUXa7AjmBu6vIKbH5ZN0KaEZ244H7QvEJ+SoFnaOSm1YXhNaRotlhLSSpSy4Xn68xOguaBf2LhlH93wr67NK6047Iw9KKMTWrchlH61IrhQOKldQXsUykDHyhKZR87PaG7nqv1XLOYblH0uWmnZXbQyuYh/z2kB6U6MFYaISPBmdArGVeUnUbwIcDvQhHdQQQEdFTR6BtQyryOtt5XZC3Bmx38kjWURjNl1WnKpYJcLISKZMtArYtYoVS6CyUEnehbGwyjof4RJ4GSFxB1dVyHe9efSFcbmPcwSd37A0YJR8QSIbTIGh37epY92Lw6Sm70b6LekrvchqFOcJxNWmPdS8G/xh0t+y3xtg495F/7k25G+2+9s4Dr7hnYvkTr7TNKy36BtRCcrrb7Pw2OTuSygXbVEAHI5ftAYjFc3sgJqtS3VNgQAywtFLZSMX4zctaAbVZd49h9IAJFC7V+nPx/pp4DmAOrLtH2yTKsozbQU8jOTi0AwtO2r+9tK941PtRdS+1+d/6A/dVw/DPiS7LPtdlOPS46lfXsGp3s2yAUjyBQbLudhbdOgQKoJHUrUPkG4ADWAV1FZqgcZSB/mEnp3ufy/9KzqowQEuzc0Xv/rQV84ej+3UP4j0KPBW2u7FV5a7u/FpVygfShMboTnvqlOSaYfDWfSLdpNjTNeYwerMsczdp5mcaly3S1zvHPxuke7fzstfpZ3dD+0nrYtLOawp2S11x11nRqPW0aRN40TzY/7KLkjdcNO3CnSICVIYhQoi1o+zrZiz48sQENkxQxfcDw4YJUAA7AAUs4qt23MCD2qPBwzfTLOQR8I4UPj0ytOqe2PvBl6B3C/rt/JJdDi9NeTTkfmab17L/aoW7mvFu6PtlSr6xwn3nkWeHuO888uwQ951HYMaDyHAfPi+IM4JDeihVdFcL/LH3+Lt7lfL+/WMELqkFkWDFcCPaxL3fFPhbC3hRiW4TTzHi2c9IbkXk89WoBU+PKtJHd9+k7k2b37ds7EHH2TxoYPamjQObhog3QNdW+B9v2dkM3umO3fd2eOV/s8LdmvE02L/bnLox5bTEfbmP9WPKaYn7ziPPDnHfeeTZIe4Lj+xcQddzu8PhHrY4bLL3CX5/7TbF3ftOqGsn0TxYclK3fzNAg6ts2NqUA9rjVBUADknVgZxBeTgV/qBjbCnOZc++KrRoPh+wfPDw699bGi8G2PMvTluqghMpmlSFtAnH+fgLfRSJPoiFquUk9N6dadped24AzctKg8xzpUcyUa6cTUhI3eSY0F4pnTtWERJ4DaKlAmXrZtY9sAPCrh6C4QZxjW/3nd3txjPb09FYoey7kfhD7/JbH+VeN1IJLJ7Xq57jXcvhPus5tprD75PMc38Vig+98FMr7B574ecn21XsMUPsSFEkn4b2RV/n/iqGdeMi957GmwC4n+G6MwYcqGvOIZzRlFOOup9xeEu/lfWZjfZNLdWjwEAWuSaMdkdr6D+0/R/0usc7PNAFxgAAAYVpQ0NQSUNDIHByb2ZpbGUAAHicfZE9SMNAHMVfU7VS6gfYQUQkQ3WyICriqFUoQoVSK7TqYHLph9CkIUlxcRRcCw5+LFYdXJx1dXAVBMEPEEcnJ0UXKfF/SaFFjAfH/Xh373H3DhBqJaaabWOAqllGKh4TM9kVMfCKDvSiG0EMSczUZ5PJBDzH1z18fL2L8izvc3+OLiVnMsAnEs8w3bCI14mnNi2d8z5xmBUlhficeNSgCxI/cl12+Y1zwWGBZ4aNdGqOOEwsFlpYbmFWNFTiSeKIomqUL2RcVjhvcVZLFda4J39hKKctL3Gd5iDiWMAikhAho4INlGAhSqtGiokU7cc8/AOOP0kumVwbYOSYRxkqJMcP/ge/uzXzE+NuUigGtL/Y9scwENgF6lXb/j627foJ4H8GrrSmv1wDpj9Jrza1yBHQsw1cXDc1eQ+43AH6n3TJkBzJT1PI54H3M/qmLNB3CwRX3d4a+zh9ANLUVeIGODgERgqUvebx7s7W3v490+jvBy0lcotlnwe2AAANGmlUWHRYTUw6Y29tLmFkb2JlLnhtcAAAAAAAPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iWE1QIENvcmUgNC40LjAtRXhpdjIiPgogPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4KICA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIgogICAgeG1sbnM6eG1wTU09Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9tbS8iCiAgICB4bWxuczpzdEV2dD0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlRXZlbnQjIgogICAgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIgogICAgeG1sbnM6R0lNUD0iaHR0cDovL3d3dy5naW1wLm9yZy94bXAvIgogICAgeG1sbnM6dGlmZj0iaHR0cDovL25zLmFkb2JlLmNvbS90aWZmLzEuMC8iCiAgICB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iCiAgIHhtcE1NOkRvY3VtZW50SUQ9ImdpbXA6ZG9jaWQ6Z2ltcDo0NDc2ODg0Mi0xOTAwLTQ3ZWMtODQ0My05NjcyOWI3NTIzNzUiCiAgIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6Y2Q0ZWI3MjAtZTc2ZC00MDBhLTg1YjUtYmE2YmRlM2ZlYWNiIgogICB4bXBNTTpPcmlnaW5hbERvY3VtZW50SUQ9InhtcC5kaWQ6ZDgwYzhhZWItZWFmNy00NzRiLTljZGQtNzU5OGFkNDA1YjUxIgogICBkYzpGb3JtYXQ9ImltYWdlL3BuZyIKICAgR0lNUDpBUEk9IjIuMCIKICAgR0lNUDpQbGF0Zm9ybT0iTGludXgiCiAgIEdJTVA6VGltZVN0YW1wPSIxNjU1Mzg4NzI2OTQ2MDE5IgogICBHSU1QOlZlcnNpb249IjIuMTAuMzAiCiAgIHRpZmY6T3JpZW50YXRpb249IjEiCiAgIHhtcDpDcmVhdG9yVG9vbD0iR0lNUCAyLjEwIj4KICAgPHhtcE1NOkhpc3Rvcnk+CiAgICA8cmRmOlNlcT4KICAgICA8cmRmOmxpCiAgICAgIHN0RXZ0OmFjdGlvbj0ic2F2ZWQiCiAgICAgIHN0RXZ0OmNoYW5nZWQ9Ii8iCiAgICAgIHN0RXZ0Omluc3RhbmNlSUQ9InhtcC5paWQ6OWE3YjNjMWUtZDBiMy00YWMxLWJlODktYjhhMDkwMWI5NGMwIgogICAgICBzdEV2dDpzb2Z0d2FyZUFnZW50PSJHaW1wIDIuMTAgKExpbnV4KSIKICAgICAgc3RFdnQ6d2hlbj0iMjAyMi0wNi0xNlQxNToxMjowNiswMTowMCIvPgogICAgPC9yZGY6U2VxPgogICA8L3htcE1NOkhpc3Rvcnk+CiAgPC9yZGY6RGVzY3JpcHRpb24+CiA8L3JkZjpSREY+CjwveDp4bXBtZXRhPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIAogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgCiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgCjw/eHBhY2tldCBlbmQ9InciPz7MLBl4AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH5gYQDgwGnNg3MwAAAkFJREFUSMe1lr9rU1EUxz+vtkK7uKSgEdPBJc3DCrlBHRoHQXBxcLhd7OAgOCiigwj+BQ6CgjhIERx0sGd0iRQX42ClN/jzJYNLC7ZK3+CUoCjP5bzw8kyKSZMDh8C7J99z7vt+zznPo4tZY8vAPFAAZoEDQDYVtgVsAnUgAF6Lk2oay0uATgFXgBtAhsEsBO4A98VJs51Awde02mFYHSiJk+aYPsgPERzFygOMMWKLE7RGgN0C2AMQbAWhn/W/A6eAiV0CN4Gr4qTSoSIlOwNcAs4Cx/sEXgWeAw/FSdghU2tsHrgI3I4PVVmzgAH2AkdSgJ+An4AD6rEstcibwCNx0ogTFDWwBVSAV0DVi7z3y7Xl3zuVvVBcGI+86ChQBk4CZ4BJwIiT2niq4SaBc+pEXoQ19hvwNRUX6e/BiGh/j9xeupPvAteGpKB74uR6W0WqpBd+1n+pSQ8BUwOMiWeqoKVuJJfEyZPEjXzgGHAYmNZi8nrcAP4o6BfgrTj5nPjvIrDWjeRN4LGSvCpOfvxP6dbYfcAJJfmCTt4OkmPLArfUscZuANvAR+BXKnYCmNPb5XoljxO8A1aA06nznLrpk48VxfynkxeBy3rdQewN8CDJZcxBDpiJN5I1dlobp6ivba4H4AflrQZUxcl2YiOui5ONNMlV4ClQESfr/ZRujZ3RLj6vxXUluayONTZUOQY6QoJUbEE7v6DyzexEckPXXHKrZXTxzw+4MhvthaOTsKRTMNzFiAgVo9Sx9Ef52fIXTpvLhhkDP4AAAAAASUVORK5CYII=" />

        <span class="title">Database Reports</span>

      </div>

    </div>

    <div class="wrapper">

      <div class="content">
        <%= yield %>
      </div>

    </div>
  </body>
</html>
