<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .summary {
        font-family: Verdana, sans-serif;
      }

      .font-mono {
        font-family: monospace;
      }

      td.border, th.border {
        border: 1px solid #555; padding: 0.5rem;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
